<div class="flex-row__space-between">
    <div class="alert alert-success" role="alert">
        Patient first name
    </div>
    <div class="alert alert-primary" role="alert">
        @ViewBag.FirstName
    </div>
</div>

